.pagination{
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    color: blue;
}

.pagination button{
    margin-right: 10px;
    border-radius: 100px;
    width: 25px;
}

.pagination .selected{
    background-color: silver;
}
